<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fad Crm</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img src="assets/img/logo.png" height="75" width="100"/>Happy Way</a>
            	
            </div>

            <div class="header-right">

  
             <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
         <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                       <li>
                        <div class="user-img-div">

                            <div class="inner-text">
                                Usuario: Luiz Otavio
                            <br />
                                <small>Departamento: Logistica</small>
                            </div>
                        </div>

                    </li>
                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                     <li>
                        <a href="SAC.html"><i class="fa fa-yelp "></i>SAC <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                             <li>
                                <a href="SAC.html"><i class="fa fa-search "></i>Buscar</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-level-down"></i>Cadastrar / Editar<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            <li>
                                <a href="SAC-pessoaF.html"><i class="fa fa-male "></i>Pessoa Fisica</a>
                            </li>
                             <li>
                                <a href="SAC-pessoaJ.html"><i class="fa fa-suitcase"></i>Pessoa Juridica</a>
                            </li>
                            </ul>
                             </li>
                             <li>
                                <a href="SAC-casos.html"><i class="fa fa-send "></i>Casos</a>
                            </li>      
                        </ul>
                    </li>
                      
        </ul>
                
               <!-- /. FINAL LINHA -->
            </div>

        </nav>
        <!-- /. NAV SIDE  -->

                <!--  Inicio do conteudo  -->
        <div id="page-wrapper">
            <div id="page-inner">
            <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Cadastro de Pessoa Juridica</h1>
                        <h1 class="page-subhead-line">Favor preencher atentamente os campos</h1>

                    </div>
                </div>
           <div class="col-md-12 col-sm-10 col-xs-12">
               <div class="panel panel-info">
                        <div class="panel-heading">
                           Formulario de Cliente Jurico
                        </div>
                        <div class="panel-body">
                  
                        <form id="cadastro" name="cadastro" method="post" action="cadastro.php" onsubmit="return validaCampo(); return false;">
  <table width="625" border="0">
    <tr>
      <td width="69">Razao Social:</td>
      <td width="546"><input name="nome" type="text" id="nome" size="68" maxlength="60" />
        <span class="style1">*</span></td>
              <td><button type="button" class="btn btn-info">Procurar</button></td>

    </tr>
    <tr>
      <td>CNPJ:</td>
      <td><input name="email" type="text" id="email" size="68" maxlength="60" />
      <span class="style1">*</span></td>
            <td><button type="button" class="btn btn-info">Procurar</button></td>

    </tr>
    <tr>
      <td>Sexo:</td>
      <td><input name="sexo" type="radio" value="Masculino" checked="checked" />
        Masculino
        <input name="sexo" type="radio" value="Feminino" />
        Feminino <span class="style1">*</span> </td>
    </tr>
    <tr>
      <td>DDD:</td>
      <td><input name="ddd" type="text" id="ddd" size="4" maxlength="2" />
      Telefone:
        <input name="telefone" type="text" id="telefone" />
        <span class="style3">Apenas números</span> </td>
    </tr>
    <tr>
      <td>Endereço:</td>
      <td><input name="endereco" type="text" id="endereco" size="70" maxlength="70" />
        <span class="style1">*</span></td>
    </tr>
    <tr>
      <td>Cidade:</td>
      <td><input name="cidade" type="text" id="cidade" maxlength="20" />
        <span class="style1">*</span></td>
    </tr>
    <tr>
      <td>Estado:</td>
      <td><select name="estado" id="estado">
        <option>Selecione...</option>
        <option value="AC">AC</option>
        <option value="AL">AL</option>
        <option value="AP">AP</option>
        <option value="AM">AM</option>
        <option value="BA">BA</option>
        <option value="CE">CE</option>
        <option value="ES">ES</option>
        <option value="DF">DF</option>
        <option value="MA">MA</option>
        <option value="MT">MT</option>
        <option value="MS">MS</option>
        <option value="MG">MG</option>
        <option value="PA">PA</option>
        <option value="PB">PB</option>
        <option value="PR">PR</option>
        <option value="PE">PE</option>
        <option value="PI">PI</option>
        <option value="RJ">RJ</option>
        <option value="RN">RN</option>
        <option value="RS">RS</option>
        <option value="RO">RO</option>
        <option value="RR">RR</option>
        <option value="SC">SC</option>
        <option value="SP">SP</option>
        <option value="SE">SE</option>
        <option value="TO">TO</option>
          </select>
        <span class="style1">*      </span></td>
    </tr>
    <tr>
      <td>Bairro:</td>
      <td><input name="bairro" type="text" id="bairro" maxlength="20" />
        <span class="style1">*</span></td>
    </tr>
    <tr>
      <td>CEP:</td>
      <td><input name="pais" type="text" id="pais" maxlength="20" />
        <span class="style1">*</span></td>
    </tr>
    <tr>
      <td>Referencia:</td>
      <td><input name="login" type="text" id="login" maxlength="12" />
        <span class="style1">*</span></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input name="senha" type="password" id="senha" maxlength="12" />
          <span class="style1">*</span></td>
    </tr>
   
      <td colspan="2"><p>
          <input name="cadastrar" type="submit" id="cadastrar" value="Cadastrar" class="btn btn-info"/>
       
 
          <input name="limpar" type="reset" id="limpar" value="Limpar" class="btn btn-info"/>
            
            <input name="limpar" type="reset" id="limpar" value="Editar" class="btn btn-info"/>
         
 
          <span class="style1">* Campos com * são obrigatórios!          </span></p>
      <p>  </p></td>
    </tr>
  </table>
</form>
                            </div>
                        </div>
                            </div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
  
    </div>
    <!-- /. FOOTER  -->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    

</body>
</html>
